<div class="flex flex-col gap-3 p-5">
  <p class="text-2xl font-medium mb-5">Angular CKEditor</p>
  <div class="flex flex-row gap-2">

    <mat-checkbox [(ngModel)]="isDisabled">
      Disable
    </mat-checkbox>
    <mat-form-field>
      <mat-select >
        <mat-option>Clear</mat-option>
        <mat-option value="valid">Valid option</mat-option>
        <mat-option value="invalid">Invalid option</mat-option>
      </mat-select>
    </mat-form-field>




    <button mat-stroked-button (click)="toggleEditorDirection()">
      {{ isRtl ? 'Change to LTR' : 'Change to RTL'}}
    </button>

    <mat-checkbox [(ngModel)]="isCustomTheme">
      Costum theme
    </mat-checkbox>

  </div>
  @if(showEditor){
  <ckeditor [class.ck-editor-custom-theme]="isCustomTheme" [editor]="editor" [config]="config" [(ngModel)]="editorData"
    [disabled]="isDisabled" tagName="textarea"></ckeditor>
  }

</div>